* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: Roboto;
font-size: 96px;
font-weight: 500;
line-height: 112.5px;
color: #FFFFFF;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
h3{
  font-family: Montserrat;
font-size: 72px;
font-weight: 800;
line-height: 87.77px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
}
h5{
  font-family: Inter;
font-size: 36px;
font-weight: 400;
line-height: 43.57px;
color: #FFFFFF;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
p{
font-family: TT Hoves;
font-size: 48px;
font-weight: 500;
line-height: 56.54px;
color: #FFFFFF;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

a {
  font-family: Inter;
font-size: 36px;
font-weight: 400;
line-height: 43.57px;
color: #FFFFFF;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: url("./assets/img/1.png") no-repeat center/cover; /* Replace with your background image URL */
}

.hero_abs1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: url("./assets/img/2.jpg") no-repeat center/cover; 
}

.hero_abs2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: url("./assets/img/3.png") no-repeat center/cover; 
}

.bg_textt {
  background: linear-gradient(243.98deg, #FB546D 16.26%, #9D4DFF 83.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg_texxt1 {
  background: linear-gradient(136.72deg, #B2EBF2 -8.73%, #D1C4E9 74.71%, #F8BBD0 118.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero-content {
  /* max-width: 800px; */
  margin: auto;
}

.astronaut {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}
footer {
  width: 100vw;
  display: flex;
 padding-left: 20px;

}
